<div class="container">
  <%= render "shared/error_messages" ,obj: @genre %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <h3><i class="fas fa-layer-group"></i> Genre Edit</h3>
</div>
<%= render "genres/genre_form" %>