<div class="container">
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <i class="fas fa-layer-group fa-2x"> new_genre</i>
</div>
<%= render "genres/genre_form" %>