<div class="container">
  <div class="row">
    <% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
    <% end %>
    <h3><i class="far fa-edit"> give_item edit</i></h3>
  </div>
</div>
<%= render "give_items/give_item_form" %>