<div class="container">
  <div class="row">

    <#%= render "shared/error" ,obj: @give_item %>
      <% if flash.now[:notice] %>
      <p class="notice"><%= flash.now[:notice] %></p>
      <% end %>
      <h3>give_item edit</h3>
  </div>
</div>
<%= render "give_items/form" %>