<div class="container mt-5">
  <#%= render "shared/error" ,obj: @give_item %>
    <% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
    <% end %>

    <div class="row">
      <div class="col-100 mx-auto">
        <h3>give_item edit</h3>
      </div>
    </div>
    <%= render "give_items/form" %>