<div class="container">
 <%= render "shared/error_messages" ,obj: @give_item %>
  <div class="row">
    <% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
    <% end %>
    <h3><i class="far fa-edit"></i> Give Item Edit</h3>
  </div>
</div>
<%= render "give_items/give_item_form" %>