<div class="container">
  <%= render "shared/error_messages" ,obj: @give_item %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <i class="fas fa-gift fa-2x"></i> Gift Register
</div>
<%= render "give_items/give_item_form" %>