<div class="container mt-5">
  <#%= render "shared/error" ,obj: @give_item %>
    <% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
    <% end %>
    <i class="fas fa-gift fa-3x"> gift</i>
</div>
<%= render "give_items/form" %>