<div class="container mt-5">
  <%= render "shared/error_messages" ,obj: @sent_return %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <%= render "sent_returns/sent_return_form" %>