<div class="container">
  <div class="row">


    <% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
    <% end %>
    <h3>give_pserson edit</h3>
  </div>
</div>
<%= render "give_persons/give_person_form" %>