<div class="container mt-5">
  <%= render "shared/error_messages" ,obj: @give_return %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <%= render "give_returns/give_return_form" %>