<i class="fas fa-address-card"></i>
<i class="fas fa-edit"></i>
<i class="far fa-edit"></i>
<i class="fas fa-gifts"></i>
<i class="fas fa-parachute-box"></i>
<i class="fas fa-list-ol"></i>

<i class="far fa-image"></i>
<i class="fas fa-image"></i>
<i class="fas fa-home"></i>
<i class="far fa-hand-point-up"></i>
<th><i class="far fa-file-alt"> text</i></th>

<#%= give_item.introduction %>

  <i class="fas fa-image"> photo</i>
  <#%= give_item.image %><i class="fas fa-camera-retro"></i>
    <%= link_to  ("URL"), class: "btn btn-primary rounded-circle btn-lg", method: :delete do %>
    <i class="far fa-trash-alt fa-1x"></i>
    <% end %>

    <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>