<% if flash[:notice] %>
<div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
<% end %>
<% if flash[:alert] %>
<div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
<% end %>