<div class="container">
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <i class=" fa-solid fa-users fa-4x"> Edit_Family</i>
</div>
<%= render "family_persons/family_person_form" %>