<h3>家族一覧</h3>
<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-auto mx-5">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">名前</th>
          </tr>
        </thead>
        <tbody>
          <% @family_persons.each do |family_person| %>
          <tr>
            <td scope="col"><%= link_to family_person.family_person,family_person_path(family_person)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to "ホームへ戻る", root_path ,class: "btn btn-secondary"%></p>
    </div>
  </div>
</div>