// Place all the styles related to the GiveItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item_image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.money_image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.present_image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.icon_image {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  object-fit: cover;
}