<div class="container">
  <%= render "shared/error_messages" ,obj: @sent_item %>
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <i class="fas fa-gift fa-2x"></i> Gift Register
</div>
<%= render "sent_items/sent_item_form" %>