<div class="container">
  <% if flash.now[:notice] %>
  <p class="notice"><%= flash.now[:notice] %></p>
  <% end %>
  <i class="fas fa-gift fa-3x"> gift</i>
</div>
<%= render "sent_items/sent_item_form" %>